.form {
    width: fit-content;
    width: 400px;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.form__link {
    margin: 1px !important;
}

.authorization__button {
    margin-top: 1.5rem !important ;
    padding: 1rem;
    width: 60%;
}


.form > * {
    margin: 10px 0;
}

.form > *:first-child {
    margin-top:  0;
}

.form > *:last-child {
    margin-bottom:  0;
}


.form__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.authorization__input {
    color:var(--color2) ;
}
